.container {
    display: flex;
    width: 100%;
    height: fit-content;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);

    justify-content: flex-start;
    background: rgb(214,26,38);
    background: linear-gradient(72deg, rgba(214,26,38,1) 33%, rgba(46,30,75,1) 88%);
    padding: 0 0 0 30px;
    box-shadow: 1px 20px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 20px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 20px 14px 0px rgba(0,0,0,0.75);


  
}

.titulo {
margin-top: 40px;
}

.navContainerimg {
    width: 100px;
    display: flex ;
    align-items: center;
}


.p {
    
    font-style: italic;
    align-content: top;
    font-family: 'Times New Roman', Times, serif;
    
   
}




.container > p {
    font-size: 50px;
   
}