.headerContainer {
    width: 200px;
    margin: 100px 1px 5px 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.headerImg {
    width: 100%

}

.row {
    display: flex;
}